In [1]:
from lib.io import load_stream

user_id = '4a674085-61a1-4f39-83a6-c00d6870bf6b'
activity_id = 16399512670

In [2]:
df, data = load_stream(activity_id, user_id)

In [3]:
data.keys()

dict_keys(['altitude', 'latlng', 'time', 'heartrate', 'distance'])

In [4]:
df

      altitude        lat         lon   time  heartrate  distance
0       2671.4  39.632976 -106.080779      0         84       0.0
1       2671.4  39.632976 -106.080779      1         84       0.0
2       2671.6  39.632976 -106.080779     22         86      10.3
3       2673.0  39.632964 -106.080909     31         84      21.3
4       2673.8  39.632962 -106.080968     37         86      27.4
...        ...        ...         ...    ...        ...       ...
7176    2668.4  39.633091 -106.080643  30464         65   18355.3
7177    2668.6  39.633091 -106.080643  30465         61   18355.3
7178    2669.4  39.633092 -106.080644  30468         59   18355.3
7179    2669.6  39.633111 -106.080647  30478         60   18355.8
7180    2669.6  39.633103 -106.080640  30486         59   18355.8

[7181 rows x 6 columns]

In [ ]:
df = load_stream(16427372182)
metrics = compute_metrics(16427372182, "user-uuid")
print(metrics)
df.head()